.advantages
	background #f5f5f5
	padding-top 106px
	padding-bottom 79px
	&__wrap
		display flex
		justify-content space-between
		align-items center
	&__info
		h6
			font-set(#c41230, 14px, 400, 20px)
			font-family $ff-opns
			text-transform uppercase
			letter-spacing 1.4px
			padding-bottom 18px
		h4
			font-set(#c41230, 48px, 400, 42px)
			font-family $ff-opnsBold
			text-transform uppercase
			padding-bottom 103px
			position relative
			&:after
				content ''
				position absolute
				bottom 56px
				left 0
				height 2px
				width 146px
				background #dcdcdc
		ul
			list-style-type disc
			padding-left 15px
			li
				font-set(#333333, 14px, 400, 23px)
				font-family $ff-opns
				letter-spacing .28px
	&__guide
		max-width 53.83%
		position relative
		img
			width 100%
		a
			position absolute
			width 26px
			height 26px
			&:hover
				&:after
					background #fff
					color #000
				&:before
					content ''
				& div
					display block
			&:after
				content '+'
				position absolute
				width 26px
				height 26px
				background #000
				border-radius 50px
				text-align center
				font-family $ff-opns
				font-set(#fff, 25px, 400, 25px)
				transition all .3s ease
			&:before
				position absolute
				width 38px
				height 38px
				border-radius 100px
				border 2px solid #fff
				left -6px
				top -6px
			&:nth-of-type(1)
				left 1.6%
				top 14.5%
			&:nth-of-type(2)
				left -1.4%
				bottom 31.5%
			&:nth-of-type(3)
				left 10%
				bottom 6.5%
			&:nth-of-type(4)
				left 45.6%
				top 18%
			&:nth-of-type(5)
				right 1.6%
				bottom 32.5%
				div
					left -254px
					span
						&:after
							left 124px
							width 141px
							border 1px solid #000
							border-bottom none
							border-left none
			div
				position absolute
				left 96px
				top -63px
				font-family $ff-opns
				display none
				z-index 1
				span
					padding 10px 38px 14px
					border 1px solid #000
					font-set(#333, 12px, 700, 20px)
					text-transform uppercase
					position relative
					&:after
						content ''
						position absolute
						left -86px
						top 19px
						width 86px
						height 44px
						border 1px solid #000
						border-right none
						border-bottom none
				p
					font-set(#333, 14px, 400, 20px)
					letter-spacing 1.4px
					width 240px
					margin-top 34px
					background rgba(255,255,255,0.8)
