.catalog
	display flex
	justify-content space-between
	flex-wrap wrap
	width 100%
	&__item
		max-width 25%
		display flex
		flex-direction column
		align-items center
		justify-content space-between
		padding 30px 15px 25px
		margin-bottom 15px
		transition all .3s ease-in
		border 1px solid transparent
		&:hover
			border 1px solid #c41230
		img
			width 100%
		p
			font-set(#333333, 16px, 400, 20px)
			font-family $ff-opns
			text-transform uppercase
			padding 57px 0 19px
			text-align center
		span
			font-set(#ed1c24, 12px, 700, 14px)
			font-family $ff-opns
			text-transform uppercase
	&__wrap
		padding-top 122px
		display flex
		flex-direction column
		align-items center
		h4
			font-set(#c41230, 48px, 400, 46px)
			font-family $ff-opnsBold
			text-transform uppercase
			padding-bottom 74px
			position relative
			&:after
				content ''
				position absolute
				bottom 43px
				left 50%
				transform translateX(-50%)
				height 2px
				width 146px
				background #dcdcdc
		h6
			font-set(#8e8e8e, 15px, 400, 29.54px)
			font-family $ff-opns
			text-transform uppercase
			padding-bottom 138px
	&__models
		width 100%
	&-tab
		visibility hidden
		height 0
		overflow hidden
		&-active
			visibility visible
			height auto
			overflow visible
			padding-top 221px
		&-slider
			max-width 50%
			display inline-block
			float left
			&-item
				padding-bottom 54px
				img
					width 100%
			&-nav
				div
					height 69px
				img
					max-width 69px
					margin 0 5px
					position relative
					top 50%
					transform translateY(-50%)
				.slick-current
					border 1px solid #c41230
		&-info
			padding-left 62px
			display inline-block
			float right
			max-width 50%
			h5
				font-set(#333333, 36px, 400, 38px)
				font-family $ff-opns
				text-transform uppercase
			h6
				font-set(#c41230, 36px, 700, 38px)
				font-family $ff-opnsBold
				text-transform uppercase
				padding-bottom 63px
				position relative
				&:after
					content ''
					position absolute
					left 0
					bottom 35px
					height 2px
					width 146px
					background #dcdcdc
			.price
				display flex
				span
					position relative
					padding-right 35px
					font-family $ff-opns
					&:after
						content 'грн.'
						position absolute
						right 0
						top 50%
						transform translateY(-50%)
					&:first-child
						font-set(#c41230, 48px, 400, 41px)
						&:after
							font-size 16px
					&:last-child
						font-set(#c4c4c4, 16px, 400, 42px)
						text-decoration line-through
						padding-left 21px
						padding-right 30px
						&:after
							text-decoration line-through
			ul
				padding 45px 0 13px
				position relative
				&:after
					content ''
					position absolute
					bottom 0
					left 0
					width 100%
					height 2px
					background #dcdcdc
				li
					padding-bottom 21px
					p
						font-set(#333333, 16px, 300, 16px)
						font-family $ff-opns
					span
						font-set(#000000, 16px, 300, 16px)
						font-family $ff-opns
						opacity .6
			.btn
				display flex
				justify-content space-between
				align-items center
				padding-top 66px
				a
					font-family $ff-opns
					&:first-child
						font-set(#333333, 14px, 400, 18px)
						border-bottom 1px solid #c41230
						margin-right 30px
						&:hover
							color #c41230
					&:last-child
						font-set(#fff, 16px, 700, 16px)
						text-transform uppercase
						padding 19px 39px
