.delivery
	display flex
	justify-content space-between
	align-items center
	img
		width 100%
	&__text
		padding-right 30px
	&__wrap
		background url("../img/bg-delivery.png") no-repeat
		background-size cover
		padding 33px 0 38px
		h4
			font-set(#fff, 48px, 400, 27px)
			font-family $ff-opnsBold
			text-transform uppercase
			padding-bottom 76px
			position relative
			&:after
				content ''
				position absolute
				left 0
				bottom 44px
				height 2px
				width 146px
				background #fff
		h6
			font-set(#f5f5f5, 14px, 400, 16px)
			font-family $ff-opns
			text-transform uppercase
			padding-bottom 48px
		ul
			padding-top 48px
			li
				font-family $ff-opns
				font-set(#f5f5f5, 18px, 700, 25px)
				p
					font-size 14px
					padding-bottom 11	px
