/*
* fontP: Path to fonts folder
* fileN: Files name without extension
* fontF: font-family
* fontW: font-weight
* fontS: font-style
* formats: woff2 woff truetype eot
*/
fontFace(
  fontP,
  fileN,
  fontF, 
  fontW = 400, 
  fontS = normal, 
  formats = woff2 woff truetype eot
)
  @font-face
    fonts = ()
    path = fontP + fileN
    font-family fontF
    if eot in formats
      src url(path + '.eot')
    if woff2 in formats
      push(fonts, 'url("' + path + '.woff2") format("woff2")')
    if woff in formats
      push(fonts, 'url("' + path + '.woff") format("woff")')
    if truetype in formats
      push(fonts, 'url("' + path + '.ttf") format("truetype")')
    src unquote(join(", ", fonts))
    font-weight fontW
    font-style fontS

