.pre-footer
	display flex
	justify-content space-between
	align-items center
	h4
		font-set(#fff, 36px, 400, 40px)
		font-family $ff-opns
		span
			font-weight 700
	a
		padding 19px 73px
		font-set(#fff, 16px, 700, 16px)
		font-family $ff-opns
		text-transform uppercase
	&__wrap
		padding 70px 0 46px
		background #333333

footer
	background #333333
	padding 17px 0 15px
	border-top 1px solid rgba(255, 255, 255, 0.1)
	.foot
		display flex
		justify-content space-between
		align-items center
		img
			width 100px
		a
			font-set(#fff, 14px, 400, 14px)
			font-family $ff-opns
			&:hover
				color #c41230