.gallery
	padding-top 300px
	padding-bottom 181px
	text-align center
	h4
		font-set(#c41230, 48px, 400, 34px)
		font-family $ff-opnsBold
		text-transform uppercase
		position relative
		padding-bottom 88px
		&:after
			content ''
			position absolute
			left 50%
			transform translateX(-50%)
			bottom 45px
			height 2px
			width 146px
			background #dcdcdc
	h6
		font-set(#8e8e8e, 15px, 400, 29.54px)
		font-family $ff-opns
		text-transform uppercase
		padding-bottom 131px
	&__grid
		display flex
		justify-content space-between
		div
			display flex
			flex-direction column
			a:first-child
				margin-bottom 15px
			&:nth-child(2)
				padding 0 15px
		&-item
			position relative
			&:after
			&:before
				content ''
				position absolute
				cursor pointer
				opacity 0
				transition all .3s ease-in
			&:after
				top 0
				left 0
				width 100%
				height 100%
				background rgba(0, 0, 0, 0.46)
			&:before
				top 50%
				left 50%
				width 49px
				height 51px
				transform translate(-50%, -50%)
				background url("../img/icons/g-icon.png") no-repeat
				background-size 100% 100%
			img
				width 100%
				height 100%
			&:hover
				&:after
				&:before
					opacity 1