.wrapper
	max-width 1190px
	margin-left auto
	margin-right auto
	padding-left 10px
	padding-right 10px
	width 100%
.js-formBtn
	border-radius 100px
	background $col-red
	transition box-shadow .3s ease-in
	&:hover
		box-shadow inset 0 0 12px 2px rgba(0,0,0,0.75)
.btn-top
	display none
	position fixed
	bottom 30px
	right 15px
	width 50px
	height 50px
	transform rotate(-90deg)
	background rgba(196,18,48,.8)
	z-index 999
	&:after
		content '\27A4'
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		color #fff
		font-size 30px
.js-arrow
	position absolute
	top 50%
	transform translateY(-50%)
	width 76px
	height 76px
	border none
	border-radius 100px
	background #fff
	z-index 1
	&:focus
		outline none
	&:after
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		font-size 60px
		color  #000
		font-weight 100
		height 80px
	&.leftArrow
		left 10.94%
		&:after
			content '\2039'
	&.rightArrow
		right 10.94%
		&:after
			content '\203A'

.js-slick-dots
	li
		display inline-block
		&.slick-active
			button
				height 10px
				width 10px
				background #b8b8b8
		button
			width 7px
			height 7px
			border-radius 100px
			background #fff
			margin 59px 9px 0
			font-size 0
			border none

.modal
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	overflow auto
	background rgba(0,0,0,.7)
	z-index 6
	display none
	&__content
		display none


.js-close-modal
	position relative
	&:after
		content '+'
		position absolute
		font-size 20px
		line-height 17px
		transform rotate(45deg)


.js-modal
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)
	width 100%
	background-color #ffffff
	&Form
		max-width 810px
		padding 56px 0 78px
		border-radius 10px
		box-shadow 0 28px 57px rgba(0, 0, 0, 0.72)
		.js-close-modal
			&:after
				color #333333
				right 19px
				top -35px
		h4
			text-align center
			font-set(#333333, 28px, 700, 28px)
			font-family $ff-opns
			text-transform uppercase
			padding-bottom 61px
		form
			display flex
			flex-wrap wrap
			justify-content center
			padding 0 6%
			div
				width 50%
				padding-bottom 27px
				padding-right 15px
				font-set(#959595, 14px, 400, 14px)
				font-family $ff-opns
				p
					padding-left 17px
					padding-bottom 9px
				input
				select
					width 100%
					padding 15px 22px
					border-radius 21px
					background-color #f5f5f5
					color #333333
					line-height 21px
					border none
					outline none
					&:focus
						box-shadow 0 9px 18px rgba(182, 183, 189, 0.62)
				select
					appearance none
					&:-ms-expand
						display none
				&:nth-child(3)
					position relative
					&:after
						content '\2039'
						position absolute
						bottom 45px
						left calc(100% - 45px)
						font-size 25px
						transform rotate(-90deg)
						color #333333
						pointer-events none
				&:nth-child(4)
					position relative
					select
						max-width 148px
					&:after
						content '\2039'
						position absolute
						bottom 45px
						left 119px
						font-size 25px
						transform rotate(-90deg)
						color #333333
						pointer-events none
			button
				padding 18px 71px 16px
				border none
				font-set(#fff, 16px, 700, 28px)
				font-family $ff-opns
				text-transform uppercase
				margin-top 43px
	&Size
		box-shadow 0 8px 26px 1px rgba(113, 113, 113, 0.2)
		max-width 583px
		padding 50px 0 53px
		h4
			font-set(#c41230, 36px, 400, 36px)
			font-family $ff-opnsBold
			text-transform uppercase
			text-align center
			padding-bottom 37px
		.size
			div
				text-align center
			p
			span
				border-radius 3px
				border 1px solid #000
				padding 14px 0 13px
				font-set(#000, 14px, 400, 14px)
				font-family $ff-opns
				margin 4px
				display inline-block
			p
				width 153px
				padding-left 18px
			span
				text-align center
				width 43px
		.js-close-modal
			&:after
				color #000
				right 17px
				top -32px