.header
	width 100%
	height 100%
	min-height 100vh
	background url("../img/bg-header.png") no-repeat
	background-size cover
	background-position-x center
	padding-bottom 40px
	padding-top 70px
	padding-right 2.31%
	display flex
	align-items flex-end
	&__menu
		display flex
		justify-content space-between
		align-items center
		padding-top 19px
		position fixed
		top 0
		left 50%
		transform translateX(-50%)
		z-index 2
		transition all .4s ease-in
		&.active
			background rgba(245, 245, 245, 0.85)
			padding-bottom 10px
			padding-top 10px
			border-bottom-left-radius 21px
			border-bottom-right-radius 21px
			box-shadow 0 11px 45px 0 rgba(0,0,0,0.68)
	&__description
		background #fff
		box-shadow 0 9px 18px rgba(51, 51, 51, 0.28)
		max-width 496px
		width 100%
		padding 72px 44px 50px
		float right
		display flex
		flex-direction column
		h4
			font-set(#c41230, 36px, 400, 27px)
			font-family $ff-opnsBold
			text-transform uppercase
			padding-bottom 26px
		p:nth-of-type(1)
			font-set(#333333, 11px, 400, 27px)
			font-family $ff-opns
			padding-bottom 77px
			position relative
			&:after
				content ''
				position absolute
				left 0
				bottom 39px
				height 1px
				width 146px
				background-color #dcdcdc
		p:nth-of-type(2)
			font-set(#333333, 16px, 400, 24px)
			font-family $ff-opns
			padding-bottom 41px
		a
			padding 19px 39px
			font-set(#fff, 16px, 700, 12px)
			font-family $ff-opns
			text-transform uppercase
			align-self center
	.menu
		display flex
		li
			margin-left 47px
			&:last-child
				a
					color #fff
					padding 13px 18px 14px
					&:hover
						color #fff
			a
				font-set(#333333, 14px, 400, 27px)
				font-family $ff-opns
				text-transform uppercase
				&:hover
					color $col-red

.js-menu-btn
	display none
	position relative
	background $col-red
	width 55px
	height 50px
	border-radius 15px
	span
		position absolute
		width 32px
		height 3px
		left 50%
		transform translateX(-50%)
		background #333333
		transition transform .3s ease
		&:nth-child(1)
			top 14px
		&:nth-child(2)
			top 23.5px
		&:nth-child(3)
			bottom 14px
	&.active
		span
			left 12px
			&:nth-child(1)
				top 24px
				transform rotate(225deg)
			&:nth-child(2)
				opacity 0
			&:nth-child(3)
				bottom 23px
				transform rotate(-225deg)

