.history
	display flex
	justify-content space-between
	align-items center
	padding-top 95px
	padding-bottom 144px
	img
		width 100%
	&__text
		max-width 38.46%
		h6
			font-set(#c41230, 16px, 400, 24px)
			font-family $ff-opns
			text-transform uppercase
			padding-bottom 12px
		h4
			font-set(#c41230, 48px, 400, 40px)
			font-family $ff-opnsBold
			text-transform uppercase
			padding-bottom 89px
			position relative
			&:after
				content ''
				position absolute
				bottom 49px
				left 0
				height 2px
				width 146px
				background #dcdcdc
		p
			font-family $ff-opns
			font-set(#333333, 16px, 400, 24px)
			span
				font-weight 700
				display block
			&:nth-of-type(2)
				font-style italic
				padding 31px 0
			&:nth-of-type(3)
				font-size 16px
	&__img
		max-width 49.12%