$ff-opns = "opensans"
$ff-opnsBold = "Open Sans - Extrabold"

$col-red = #c41230

font-set(color, size, weight, height)
	color color
	font-size size
	font-weight weight
	line-height height


@import "fonts.styl"
@import "normalize.styl"
@import "general.styl"
@import "header.styl"
@import "history.styl"
@import "advantages.styl"
@import "catalog.styl"
@import "gallery.styl"
@import "delivery.styl"
@import "testimonials.styl"
@import "footer.styl"
@import "../slick.css"
@import "../slick-theme.css"
@import "../jquery.fancybox.min.css"
@import "media.styl"