@media (max-width: 1130px)
	.advantages__guide a div p
		width auto
		max-width 220px
@media (max-width: 840px)
	.js-arrow.rightArrow
		right 0
	.js-arrow.leftArrow
		left 0
	.header
		.menu
			li
				margin-left 31px
@media (max-width: 768px)
	.header
		&__menu
			padding-top 5px
	.js-menu-btn
		display block
		&.active
			position relative
	.menu
		position fixed
		top 70px
		right 0
		flex-direction column
		align-items center
		width 300px
		background #fff
		height calc(100vh - 70px)
		padding-top 25px
		transition all .3s ease-in
		transform translateX(100%)
		border-top-right-radius 21px
		&.active
			transform translateX(0)
			box-shadow -15px 0px 63px 0 rgba(0,0,0,0.68)
		li
			margin-bottom 15px
			margin-right 47px
	.history__text
		max-width 100%
		padding-right 30px
@media (max-width: 745px)
	.history__img
	.delivery__img
		display none
	.advantages__wrap
		flex-direction column
	.advantages__info
		padding-bottom 45px
		align-self flex-start
	.advantages__guide
		max-width 100%
	.catalog-tab-slider
	.catalog-tab-info
		max-width 100%
		display block
	.catalog-tab-info
		padding-left 0
		padding-top 45px
		float left
		width 100%
@media (max-width: 550px)
	.header
		padding-right 0
	.header__description
		margin 0 auto
		float none
	.catalog__item
		max-width 33.3%
	.pre-footer
		flex-direction column
		h4
			padding-bottom 40px
	.js-modal
		&Form
			padding 10px 0
			h4
				padding-bottom 20px
			.js-close-modal
				&:after
					top 5px
					right 5px
					font-size 35px
			form
				flex-direction column
				div
					width 100%
					padding-bottom 10px
					&:nth-child(3)
					&:nth-child(4)
						&:after
							bottom 28px

				button
					margin-top 5px
		&Size
		.js-close-modal
			&:after
				font-size 35px
			.size
				display flex
				div
					display flex
					flex-direction column
					align-items center
@media (max-width: 480px)
	.header__description
		padding 20px
	.history
		padding-bottom 70px
	.catalog
		&__wrap
			padding-top 70px
			h6
				font-size 11px
				padding-bottom 30px
		&__item
			max-width 48%
		&-tab
			&-info
			h6
				font-size 28px
				padding-bottom 45px
				.btn
					flex-direction column
					a:first-child
						margin-right 0
						margin-bottom 20px
			&-active
				padding-top 70px
	.gallery
		padding-top 70px
		padding-bottom 70px
		h6
			padding-bottom 40px
	.testimonials
		&__wrap
			padding-top 70px
			padding-bottom 70px
			h6
				padding-bottom 40px
@media (max-width: 410px)
	.advantages__guide a:nth-of-type(4)
		div
			left 45px
			span
				padding 10px 24px 14px
				&:after
					left -34px
					width 34px