.testimonials
	text-align center
	h4
		font-set(#c41230, 28px, 400, 27px)
		font-family $ff-opnsBold
		text-transform uppercase
		padding-bottom 85px
		position relative
		&:after
			content ''
			position absolute
			left 50%
			bottom 42px
			transform translateX(-50%)
			height 2px
			width 146px
			background #dcdcdc
	h6
		font-set(#8e8e8e, 15px, 400, 17px)
		font-family $ff-opns
		text-transform uppercase
		padding-bottom 123px
	&-item
		box-shadow 0 3px 7px rgba(0, 0, 0, 0.18)
		background-color #ffffff
		width 100%
		max-width 432px
		margin 0 auto
		padding 45px 5px 50px
		font-set(#333333, 14px, 400, 24px)
		font-family $ff-opns
		img
			max-width 103px
			max-height 103px
			border-radius 100px
			margin 0 auto
		p
			padding 30px 30px 43px
			font-style italic
		span
			font-weight 700
			text-transform uppercase
		&-wrap
			width 100%
	&__wrap
		padding-top 108px
		padding-bottom 124px
		background #e8e8e8